/*


Pixels	Ems	Ems @ 16	% of 13
1033.352	46.971	64.585	7,948.862
638.66	29.03	39.916	4,912.769
394.722	17.942	24.67	3,036.323
243.957	11.089	15.247	1,876.592
150.777	6.854	9.424	1,159.823
93.187	4.236	5.824	716.823
57.594	2.618	3.6	443.031
35.596	1.618	2.225	273.815
22	1	1.375	169.231
13.597	0.618	0.85	104.592
8.404	0.382	0.525	64.646
5.194	0.236	0.325	39.954
3.21	0.146	0.201	24.692
1.984	0.09	0.124	15.262
1.226	0.056	0.077	9.431

*/


//Font Size: 22 Line Height: 32 Content Width: 640 Approx. CPL: 66





// Main Color
$color-secondary:               darken(#fff, 20%);
$text-color: 					darken(#fff, 80%);


// Links
$color-link:                    #428bca;
$color-link-hover:              darken($color-link, 15%);



// Fonts
$line-height-base:              1.454545455 !default;   //32 px/22 = 1.454545455 
$font-size-base:                1.375rem;  //(16 * 137.5% = 22px);



* {                                                 
  box-sizing: border-box;
}

html{
	
	font-family: "Average", Georgia, Garamond, serif;
	font-size: $font-size-base;
	line-height: 1.454545455;   //32 px/22 = 1.454545455 ;
	
}


h1, h2{
	
	font-family: "Montserrat";
	font-weight: 400;
    	
}

h1{

	font-size: 1.375rem;
	margin-bottom: $font-size-base * $line-height-base / 1.375rem;
	
	
	a{
		text-decoration: none;
	}
	
}


.container {
	margin: 0 auto;
	max-width: 30rem;
	padding: 0 1.618rem;
		
}

a {
    color: $color-link;
    line-height: inherit;
    outline: 0;
    
    
    // Transitions
    transition-property: color;
    transition-duration: 0.1s;
    transition-timing-function: ease-out;
    transition-delay: initial;
    
}

a:hover {
    color: $color-link-hover;
}


p a, p a:visited { 
    line-height: inherit; 
}



// Horizontal Rule

	
hr {
	height: 1px;
    background-color: $color-secondary;
    border:none
}


// Quotes
blockquote:before, blockquote:after, q:before, q:after {
    content: "";
    content: none;
}


blockquote {
    max-width: 100%; // Prevents it from breaking out of container
    border-left: 5px solid $color-secondary;
    margin: 1.5em 0;
}


blockquote, q {
	quotes: none;
}


blockquote > p {
	padding: 15px;
}

p.site-name{
	border-style: dotted;
	border-width: 0 0 1px;
	
	font-size: 13.597px;
	font-size: 0.85rem;
	
	a{
		color: $text-color;
		text-decoration: none;
	}
}


footer{
	
	.posted{
		font-size: 0.85rem;
		
	}
	
}